/* =====================================
   주소 입력 영역
===================================== */


/* 주소 입력창 */
.signupCard input[name="address"] {

    width:100%;

}


/* 주소검색 버튼 */
.signupCard button {

    height:52px;

    border:none;

    border-radius:12px;

    background:#66bb6a;

    color:white;

    font-size:14px;

    font-weight:700;

    cursor:pointer;

    transition:.3s;

}


.signupCard button:hover {

    background:#388e3c;

}



/* 상세주소 */

.detailAddress {

    width:100%;

}



/* 모바일 */

@media(max-width:600px){


    .signupCard button {

        width:100%;

        font-size:13px;

    }

}